server:
  port: 8080

spring:
  application:
    name: api-gateway

services:
  producer:
    url: http://localhost:8081
  consumer:
    url: http://localhost:8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
