server:
  port: 8080

spring:
  application:
    name: api-gateway
    
  data:
    redis:
      host: redis
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.systemdesign.logprocessor: INFO
