server:
  port: 8081

spring:
  application:
    name: application-log-shipper
  kafka:
    bootstrap-servers: kafka:9092

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}

logging:
  level:
    com.example.logproducer: DEBUG
    org.apache.kafka: INFO
