spring:
  application:
    name: metadata-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/enrichment_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
