server:
  port: 8080

spring:
  application:
    name: api-gateway

cluster:
  coordinator:
    url: http://cluster-coordinator:8081

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus,info
  metrics:
    export:
      prometheus:
        enabled: true
