server:
  port: 8082

spring:
  application:
    name: log-consumer
  
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: log-processor-group
      auto-offset-reset: earliest
  
  datasource:
    url: jdbc:postgresql://localhost:5433/logdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  data:
    redis:
      host: localhost
      port: 6380
      timeout: 3000ms

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
