server:
  port: 8080

spring:
  application:
    name: api-gateway

services:
  producer:
    url: http://localhost:8081
  consumer:
    url: http://localhost:8082

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.example.logprocessor: INFO
