server:
  port: 8081

spring:
  application:
    name: log-producer
  kafka:
    bootstrap-servers: localhost:9092,localhost:9093,localhost:9094

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}

logging:
  level:
    com.example.logprocessor: INFO
    org.apache.kafka: WARN
