spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: log-producer
          uri: http://localhost:8081
          predicates:
            - Path=/api/logs/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
