spring:
  application:
    name: api-gateway

server:
  port: 8080

producer:
  url: http://log-producer:8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    com.example.apigateway: INFO
