spring:
  application:
    name: log-consumer
  
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: log-processor
      auto-offset-reset: earliest
      enable-auto-commit: true
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  
  datasource:
    url: jdbc:postgresql://localhost:5432/logdb
    username: postgres
    password: postgres
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
