spring:
  application:
    name: api-gateway

server:
  port: 8080

services:
  producer:
    url: http://log-producer:8081
  search:
    url: http://faceted-search-service:8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
