server:
  port: 8083

spring:
  application:
    name: api-gateway

producer:
  url: http://localhost:8081

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
