server:
  port: 8081

spring:
  application:
    name: log-producer
  kafka:
    bootstrap-servers: localhost:9092
    
management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
